{%extends 'questions/layout.html' %}

{%block content %}
{% from 'adminH/_formhelpers.html' import render_field %}
<div class="">
    <div class="row m-0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include 'message.html' %}

            

            <h4 class="h3 mt-3 text-center text-primary"> We wish best of Luck!! </h4>
                
                
                

                
                

                
            
    </div>
        <div class="col-md-4"></div>
    </div>
    
    
</div>
{% endblock content %}