{%extends 'questions/layout.html' %}

{%block content %}
{% from 'adminH/_formhelpers.html' import render_field %}
<div class="">
    <div class="row m-0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include 'message.html' %}
            
            


            {% if ExamQuestion %}
            

            <h4 class="h3 mt-3 text-center text-primary"> Add Question</h4>
                <form action="" enctype="multipart/form-data" method="POST">
                    {{ form.csrf_token }}
                    {{render_field(form.question, class="form-control")}}
                    {{render_field(form.option_a, class="form-control")}}
                    {{render_field(form.option_b, class="form-control")}}
                    {{render_field(form.option_c, class="form-control")}}
                    {{render_field(form.option_d, class="form-control")}}
                    {{render_field(form.answer, class="form-control")}}
                    <p class="text-center"><input type='submit' value='Add Course ' class='btn btn-primary'></p>
                </form>
                
                {%  else %}


                
                

                    
                {% endif %}
                <h4 class="h3 mt-3 text-center text-primary"> Add course</h4>
                <form  action="" enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                {{render_field(form.course, class="form-control")}}
        
                
    
                <p class="text-center"><input type='submit' value='Add Course ' class='btn btn-primary'></p>

                </form>
                
                <a href="" class="btn btn-warning ">Cancel</a>
            
    </div>
        <div class="col-md-4"></div>
    </div>
    
    
</div>
{% endblock content %}