{%extends 'questions/layout.html' %}

{%block content %}
{% from 'adminH/_formhelpers.html' import render_field %}
<div class="">
    <div class="row m-0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include 'message.html' %}
            
            


            {% if AddQuestions %}
            
            <h4 class="h3 mt-3 text-center text-primary"> Add course</h4>
            <form  action="" enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                {{render_field(form.course, class="form-control")}}
        
                
    
                <p class="text-center"><input type='submit' value='Add Course ' class='btn btn-primary'></p>

                </form>
                
                <a href="" class="btn btn-warning ">Cancel</a>
                
                {%  else %}

                    <h1>It is 0000</h1>
                {% endif %}
                
            
    </div>
        <div class="col-md-4"></div>
    </div>
    
    
</div>
{% endblock content %}